@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes wave {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.animate-blink {
  display: inline-block;
  animation: blink 1s step-end infinite;
}

.wave-letter {
  display: inline-block;
  animation: wave 0.8s ease-in-out infinite;
}

@keyframes fadeInSlide {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.animated-letter {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInSlide 0.5s ease-out forwards;
}
